@media (max-width: 768px) {
    html {
        font-size: 80%;
    }

    .column-mobile {
        flex-direction: column;
    }

    .col-7,
    .col-5 {
        width: 100%;
    }

    .img-hero img {
        margin: 0;
    }

    .img-hero {
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .hero-name {
        position: static;
    }

    .empty-markup {
        display: none;
    }

    .col-right {

        padding-top: 60px;
    }

    .hero-name.mobile {
        width: 100%;
        margin: 10px 0 45px 0;
        padding: 40px 0;
        text-align: center;

    }
}

@media (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}

@media (max-width: 992px) {
    .col-right-title {
        width: 250px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}  